.row
  .span12
    %ul.breadcrumb
      %li
        = link_to 'Home', user_path(current_user)
        %span.divider
          #{'/'}
      %li.active
        Lernlisten verwalten
    .page-header
      %h1
        Lernlisten verwalten
  .span6
    %h2
      Eigene Lernlisten
    - if @own_collections.any?
      = render 'shared/collections_table', collections: @own_collections, editable: true
    - else
      %p
        Du hast aktuell keine eigenen Lernlisten angelegt. Klicke auf den Button "Neue Lernliste erstellen" um eine neue Lernliste zu erstellen
  .span6  
    %h2
      Gefolgte Lernlisten
    - if @followed_collections.any?
      = render 'shared/collections_table', collections: @followed_collections, editable: false
    - else
      %p
        Du folgst derzeit keinen anderen Lernlisten. Suche und entdecke Lernlisten anderer Nutzer mit der Funktion
        = link_to 'Suchen und Entdecken.', search_path
  .span12
    = link_to 'Neue Lernliste erstellen', new_collection_path, class: 'btn btn-primary'