.row
  .span12
    - if user_signed_in?
      %ul.breadcrumb
        %li
          = link_to 'Home', user_path(current_user)
          %span.divider
            #{'/'}
        - if @collection == current_user.collections.find_by_id(@collection) || current_user.following?(@collection)
          %li
            = link_to 'Lernlisten verwalten', collections_path
            %span.divider
              #{'/'}
        %li.active
          = @collection.name
    .hero-unit
      %h1
        = @collection.name
      %p
        = @collection.description
      %p
        Autor:
        = link_to @collection.user.username, user_path(@collection.user)
      %p
        - if user_signed_in? && !current_user.collections.find_by_id(@collection)
          - if user_signed_in? && current_user.following?(@collection)
            = link_to 'Lernliste nicht mehr folgen', unfollow_collection_path(current_user, @collection), class: 'btn btn-danger'
          - else
            = link_to 'Lernliste folgen', follow_collection_path(current_user, @collection), class: 'btn btn-primary'
        - if @collection.questions.count == 0
          = link_to 'Jetzt lernen', '#', class: 'btn btn-primary disabled'
        - else
          = link_to 'Jetzt lernen', learn_path(@collection), class: 'btn btn-primary'
    - if @questions.any?
      - if user_signed_in? && current_user.collections.find_by_id(@collection)
        = render 'shared/questions_table', questions: @questions, collection: @collection, editable: true
      - else
        = render 'shared/questions_table', questions: @questions, collection: @collection, editable: false
    - else
      %p
        Aktuell sind in dieser Lernliste noch keine Fragen eingetragen.
    - if @collection.is_open || @collection.user == current_user
      = link_to 'Frage hinzufügen', new_collection_question_path(@collection), class: 'btn btn-primary'
    - else
      Diese Lernliste ist geschlossen. Neue Fragen können nicht hinzugefügt werden.