.row
  - if user_signed_in?
    .span12
      %ul.breadcrumb
        %li
          = link_to 'Home', user_path(current_user)
          %span.divider
            #{'/'}
        %li.active
          = @user.username
  .span12
    .hero-unit
      %h1
        = @user.username
        - if @user.name
          = '(' + @user.name + ')'
      %p
        = @user.bio
      %p
        - if user_signed_in? && current_user.following?(@user)
          = link_to @user.username + ' nicht mehr folgen', unfollow_user_path(current_user, @user), class: 'btn btn-danger'
        - else
          = link_to @user.username + ' folgen', follow_user_path(current_user, @user), class: 'btn btn-primary'
  .span6
    %h2
      = 'Erstellte Lernlisten'
    - if @own_collections.any?
      = render 'shared/collections_table', collections: @own_collections, editable: false
    - else
      %p
      = @user.username
      hat bisher keine eigenen Lernliste angelegt.
  .span6
    %h2
      = 'Gefolgte Lernlisten'
    - if @followed_collections.any?
      = render 'shared/collections_table', collections: @followed_collections, editable: false
    - else
      %p
      = @user.username
      folgt bisher keinen anderen Lernlisten.