%table.table.table-bordered.table-striped.tablesorter
  %thead
    %tr
      %th
        Name
      %th
        Beschreibung
      %th
        Fragen
      - if editable
        %th.hidden-phone(colspan='2')
  %tbody
    - collections.each do |item|
      - if editable
        .modal.hide.fade{id: "delete_collection_modal_#{item.id}"}
          .modal-header
            %button.close(type='button' data-dismiss='modal')
            %h3
              Lernliste löschen?
          .modal-body
            %p
              Möchtest du die Lernliste
              = '\'' + item.name + '\''
              löschen?
            %p
              Dieser Schritt kann nicht rückgängig gemacht werden.
          .modal-footer
            %a.btn(href='#' data-dismiss='modal')
              Abbrechen
            = link_to 'Lernliste löschen', item, method: :delete, class: 'btn btn-danger'
      %tr
        %td
          = link_to item.name, collection_path(item)
        %td
          = item.description
        %td
          = item.questions.count
        - if editable
          %td.hidden-phone
            = link_to raw('<i class="icon-edit"></i>'), edit_collection_path(item)
          %td.hidden-phone
            = link_to raw('<i class="icon-trash"></i>'), "#delete_collection_modal_#{item.id}", data: { toggle: 'modal' }