%table.table.table-bordered.table-striped.tablesorter
  %thead
    %tr
      %th.hidden-phone
        Titel
      %th
        Frage
      %th
        Antwort
      %th.hidden-phone
        Autor
      - if editable
        %th.hidden-phone(colspan='2')
  %tbody
    - questions.each do |item|
      - if editable
        .modal.hide.fade{id: "delete_question_modal_#{item.id}"}
          .modal-header
            %button.close(type='button' data-dismiss='modal')
            %h3
              Frage löschen?
          .modal-body
            %p
              Möchtest du die Frage
              = '\'' + item.title + '\''
              löschen?
            %p
              Dieser Schritt kann nicht rückgängig gemacht werden.
          .modal-footer
            %a.btn(href='#' data-dismiss='modal')
              Abbrechen
            = link_to 'Frage löschen', collection_question_path(collection, item), method: :delete, class: 'btn btn-danger'
      %tr
        %td.hidden-phone
          = item.title
        %td
          = simple_format(item.question)
        %td
          = simple_format(item.answer)
        %td.hidden-phone
          = link_to item.user.username, user_path(item.user)
        - if editable
          %td.hidden-phone
            = link_to raw('<i class="icon-edit"></i>'), edit_collection_question_path(collection, item)
          %td.hidden-phone
            = link_to raw('<i class="icon-trash"></i>'), "#delete_question_modal_#{item.id}", data: { toggle: 'modal' }