.row
  .span12
    .hero-unit
      %h1
        Collablearn
      %p
        Collablearn ermöglicht es dir online kollaborativ zu lernen! Lerne wo und wann immer du willst!
      %p
        = link_to 'Collablearn entdecken', search_path, class: 'btn btn-primary'
  .span4.offset1
    .page-header
      %h1
        Features
    %ul.featurelist
      %li
        Fragen erstellen und von überall aus abrufen
      %li
        Neue interessante Themenbereiche kennenlernen
      %li
        In der Community mitwirken
      %li
        Zusammen mit anderen lernen
      %li
        Deine Leistung steigern
      %li
        Es ist kostenlos!
  .span5.offset1
    .page-header
      %h1
        Registrieren
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' } ) do |f|
      .control-group
        %label.control-label{for: 'email'}
          E-Mail
        .controls
          = f.email_field :email, id: 'email'
      .control-group
        %label.control-label{for: 'username'}
          Benutzername
        .controls
          = f.text_field :username, id: 'username'
      .control-group
        %label.control-label{for: 'password'}
          Passwort
        .controls
          = f.password_field :password, id: 'password'
      .control-group
        %label.control-label{for: 'password_confirmation'}
          Passwort wiederholen
        .controls
          = f.password_field :password_confirmation, id: 'password_confirmation'
      .control-group
        .controls
          %label.checkbox
            = f.check_box 'terms_of_service'
            Ich akzeptiere die
            = link_to 'Nutzungsbedingungen', terms_of_service_path
      .control-group
        .controls
          = f.submit 'Registrieren', disable_with: 'Registrieren', class: 'btn btn-primary'
    %p
      Du hast schon einen Account? Dann kannst du dich hier 
      = link_to 'einloggen.', new_user_session_path