.row
  .span12
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          %img{src: "#{image_path('desc_1.png')}", alt: ''}
          .carousel-caption
            %h4
              Immer und überall lernen
            %p
              Mit Collablearn kannst du deine Fragen überall lernen. Egal, ob du am Desktop Computer, Notebook oder unterwegs mit dem Smartphone lernen möchtest.
        .item
          %img{src: "#{image_path('desc_2.png')}", alt: ''}
          .carousel-caption
            %h4
              Gemeinsam zum Erfolg
            %p
              Greife auf das Wissen der anderen Nutzer zurück, indem du ihnen und ihren Lernlisten folgst. Erstelle mit anderen Nutzern zusammen Lernlisten, die ihr lernen könnt.
        .item
          %img{src: "#{image_path('desc_3.png')}", alt: ''}
          .carousel-caption
            %h4
              Neue Dinge entdecken
            %p
              Entdecke neue, spannenden Themenbereiche und interessante Nutzer.
      %a.left.carousel-control(href='#myCarousel' data-slide='prev')
        ‹
      %a.right.carousel-control(href='#myCarousel' data-slide='next')
        ›
  .span6
    .hero-unit
      %p
        = link_to 'Collablearn durchstöbern', search_path, class: 'btn btn-large'
  .span6
    .hero-unit
      %p
        = link_to 'Registrieren', new_user_registration_path, class: 'btn btn-large btn-primary'