.row
  .span12
    - if user_signed_in?
      %ul.breadcrumb
        %li
          = link_to 'Home', user_path(current_user)
          %span.divider
            #{'/'}
        %li
          = link_to 'Lerncenter', learncenter_path
          %span.divider
            #{'/'}
        %li.active
          = @collection.name
          lernen
    .page-header
      %h1
        = @collection.name
        lernen
  .span4.offset4
    .well#question
    .btn.btn-block.btn-large#toggle
      <i class="icon-resize-vertical"></i>
    .well#answer
    .btn.btn-block.btn-large.btn-primary#shuffle
      Zufall
= render 'pages/learn.js'