.row
  .span12
    - if user_signed_in?
      %ul.breadcrumb
        %li
          = link_to 'Home', user_path(current_user)
          %span.divider
            #{'/'}
        %li
          = link_to 'Lerncenter', learncenter_path(current_user)
          %span.divider
            #{'/'}
        %li
          = link_to @collection.name, collection_path(@collection)
          %span.divider
            #{'/'}
        %li.active
          = @collection.name
          lernen
    .page-header
      %h1
        = @collection.name
        lernen
  .span4.offset4
    .well#status
      .progress
        .bar.bar-success#progress-correct
        .bar.bar#progress-total
      %p#times-correct
      \/
      %p#questions-total
    .well#question
    .btn.btn-block.btn-large#toggle
      <i class="icon-resize-vertical"></i>
    .well#answer
    .btn.btn-block.btn-large.btn-success#button-correct
      Richtig beantwortet
    .btn.btn-block.btn-large.btn-danger#button-incorrect
      Falsch beantwortet
    .btn.btn-block.btn-large.btn-primary#new-iteration
      Neue Fragerunde
= render 'pages/learn.js.erb'